<!DOCTYPE html>
<html>

<head>
    <title>Spot-Tag Mobile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>
    <nav class="stm--navbar">
        <img src="./assets/images/back-arrow.svg" />
        <h2>Spot-Tag Mobile</h2>
    </nav>

    <section class="stm--body">

        <div class="stm__body--header">
            <h3>Bug Name</h3>
        </div>

        <div class="stm__body--contents">

            <div class="stm--bugInfo">
                <h4>Language</h4>
                <p>Bug Language</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Category</h4>
                <p>Bug Category</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Description</h4>
                <p>Bug Description</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Reason</h4>
                <p>Bug Reason</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Testing Tool</h4>
                <p>Bug Testing Tool</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Solution</h4>
                <p>Bug Solution</p>
            </div>

            <div class="stm--bugInfo">
                <h4>Referral Link</h4>
                <a href="">Bug Referral Link</a>
            </div>
        </div>
    </section>
</body>

</html>