<!DOCTYPE html>
<html>

<head>
    <title>Spot-Tag Mobile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>
    <nav class="stm--navbar">
        <img src="./assets/images/back-arrow.svg" />
        <h2>Spot-Tag Mobile</h2>
    </nav>

    <section class="stm--body">

        <div class="stm__body--header">
            <h3>Frameworks</h3>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>JavaScript</h4>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>Python</h4>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>TypeScript</h4>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>Dart</h4>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>HTML</h4>
        </div>

        <div class="stm--langCard">
            <img src="./assets/images/Language_Sample.png" />
            <h4>CSS</h4>
        </div>
    </section>
</body>

</html>