<!DOCTYPE html>
<html>

<head>
    <title>Spot-Tag Mobile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="stylesheet" href="./assets/style.css" />
</head>

<body>
    <nav class="stm--navbar">
        <img src="./assets/images/back-arrow.svg" />
        <h2>Spot-Tag Mobile</h2>
    </nav>

    <section class="stm--body">

        <div class="stm__body--header">
            <h3>Bugs</h3>
        </div>

        <div class="stm--bugCard">
            <div class="bugCard--info">
                <h3>1.</h3>
                <h4>Sample Bug Name 1</h4>
            </div>

            <img src="./assets/images/chevron-right.svg" />
        </div>

        <div class="stm--bugCard">
            <div class="bugCard--info">
                <h3>2.</h3>
                <h4>Sample Bug Name 2</h4>
            </div>

            <img src="./assets/images/chevron-right.svg" />
        </div>

        <div class="stm--bugCard">
            <div class="bugCard--info">
                <h3>3.</h3>
                <h4>Sample Bug Name 3</h4>
            </div>

            <img src="./assets/images/chevron-right.svg" />
        </div>
    </section>
</body>

</html>